/* CSS declarations go here */
html, 
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

body {
    height: 100%;
}

button {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border-radius: 0px;
    color: #148000 ;
    font-size: 20px;
    background: rgba(0, 0, 0,0.2);
    padding: 10px 20px 10px 20px;
    border: solid #148000  2px;
    text-decoration: none;
}

button:hover {
    background: #148000 ;
    color: white;
    text-decoration: none;
}

a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border-radius: 0px;
    color: #148000 ;
    font-size: 20px;
    background: rgba(0, 0, 0,0.2);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

a:hover {
    background: #148000 ;
    color: white;
    text-decoration: none;
}

#splash {
    width: 100%;
    height: calc(100% - 50px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("/img/squirrelsplash.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.light {
    color: white;
}

#info {
    max-width: 50%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.bordered {
    border: solid #ffffff 2px;
}

.centered { margin: auto; max-width: 75%;}

#splashnext {
    margin:0 auto;
    display:block;
}

.squirrel-color {
    color: #148000;
    background-color: transparent;
}

#steps {
    padding: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.title-div {
    height: 20%;
    padding:10px;
    margin: 0px;
}

.title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;  
}
footer {
    color: white;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 50px; /* height of footer */
    bottom: 0px;
    margin-top: -50px; /* height of footer */
 
}

/*Overwrite bootstrap navbar margin-bottom*/
.navbar {
    margin-bottom: 0px;
    border-radius: none;
    border-radius: 0px;
    height: 50px;
    width: 100%;
}

.navbar-default {
    background-color: rgb(0, 0, 0);
    border: none;
}

.navbar-header {
    height: 50px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
    height: 50px;
    width: 100%;
  }
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #148000;
}

h1 {
    font-size: 40px;
}

#connect {
    max-width: 50%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
}

#purchases {
    max-width: 50%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
}

#donations {
    color: white;
    max-width: 50%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
}

#success {
    color: white;
    height: 50%;
    max-width: 50%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
}

table,th, td {
    border: 1px solid white;
    color: white;
    margin: auto;
    padding: 5px;
}

input {
    max-width: 50%;
    margin: auto;
}

.charity-img {
    max-height: 100px;
    max-width: 100px;
}

#about {
    height: 50px;
    font-size: 20px;
}