<template name="about">
    <div id="splash">
        <div class="row title-div text-center">
            <h1 class="title light">About <mark class="squirrel-color">Squirrel</mark></h1>
        </div>
        <div class="row">
            <div class="text-center bordered" id="info">
                <h3 class="light">What is Squirrel?</h3>
                <p class="light">Squirrel was made during CalHacks 2015 by three undergraduate students at UC Berkeley.  Squirrel is a free application to help you painlessly invest and give back, whenever you spend money. The application is called Squirrel because squirrels are cute animals that eat <a href="https://www.acorns.com/">acorns</a> and because squirreling means stashing something away for use later. We hope you find this project useful!</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <button class="text-center" type="submit" id="splashnext">
                Get Started
            </button>
        </div>
    
    </div>
    
</template>
