<template name="charity">
    <h1>Choose your charity!</h1>
    <button type="submit" class="charitychoice">
        <img name="pencilsofpromise" src="https://pbs.twimg.com/profile_images/530060177161322496/Hioefmiu_400x400.jpeg">
    </button>
    <button type="submit" class="charitychoice">
        <img name="ideo" src="https://pbs.twimg.com/profile_images/1566996281/IDEOorg_avatar-4_400x400.png">
    </button>
    <h1>Congratulations! You have chosen {{charitychoice}}</h1>
    <button type="submit" id="save">
        SAVE
    </button>
    <button type="submit" id="charityprev">
        Prev
    </button>
    <button type="submit" id="charitynext">
        Next
    </button>
</template>
