<template name="donations">
    <h1>What percent would you like to donate to...</h1>
    <div>
        charity?
        <input name="charitydonationslider" type="range" value={{charitydonation}} step=0.5 min=0.0 max=20.0>
        {{charitydonation}}
    </div>
    <div>
        bitcoin?
        <input name="bitcoindonationslider" type="range" value={{bitcoindonation}} step=0.5 min=0.0 max=20.0>
        {{bitcoindonation}}
    </div>
    <div>
        stocks?
        <input name="stocksdonationslider" type="range" value={{stocksdonation}} step=0.5 min=0.0 max=20.0>
        {{stocksdonation}}
    </div>
</template>
