<template name="done">
    <div id="splash">
        <div class="row title-div text-center">
            <h1 class="title light">Sucessfully Registered!</h1>
        </div>
        <div class="row">
            <div class="text-center bordered" id="success">
                <h3 class="light">Success! Now what?</h3>
                <p class="light">Awesome, you're now all set up to start <mark class="squirrel-color">squirrel</mark>ing. Keep on using your Capital One account, and soon you'll be investing and donating in no time! </p>
            </div>
        </div>
    </div>
    
</template>
