<template name="purchases">
    <div id="splash">
        <div class="row title-div text-center">
            <h1 class="title light">Welcome to<mark class="squirrel-color">Squirrel</mark></h1>
        </div>
        <div class="row">
            <div class="text-center bordered" id="purchases">
                <h3 class="light">Step 1.2: Confirm</h3>
                <p class="light">Is this you?</p>
                <button>View my bills</button>
                <br>
                <br>
                <table>
                    {{#each bills}}
                        {{> bill_row}}
                    {{/each}}
                </table>
                <br>
                <div class="centered">
                    <div class="row">
                        <div class="text-center invest col-sm-12 light">
                            <button type="submit" id="purchasesprev">
                                Prev
                            </button>
                            <button type="submit" id="purchasesnext">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<template name="bill_row">
    <tr>
        <td>{{payee}}</td>
        <td>{{payment_amount}}</td>
        <td>{{payment_date}}</td>
    </tr>
</template>
