<template name="splash">
    <div id="splash">
        <div class="row text-center">
        <h1>Welcome to Squirrel!</h1>
    </div>
    <div class="row">
        <div class="text-center">
            <h3>What is Squirrel?</h3>
        </div>
        <p>Squirrel is a free application to help you painlessly invest and give back. </p>
    </div>
    <div class="row">
        <div class="green col-md-6">
            <p>left boostrap</p>
        </div>
        <div class="red col-md-6">
            <p>right boostrap</p>
        </div>
    </div>
    <button type="submit" id="splashnext">
        Get Started
    </button>
    </div>
    
</template>
